<ion-header>
        <ion-toolbar>
            <ion-title>
                <div class="shop">
                    <div class="name">
                        قائمة المعلومات
                    </div>
                    <div class="shopicon">
                        <ion-icon style="font-size: 24px" name="arrow-round-back" (click)="back()"></ion-icon>
                    </div>
                </div>
            </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content padding>
        <ion-list>
            <div class="logos">
                <img src="assets/imgs/uni-logo.png" width="150px">
            </div>
      
            <h2 style="color: #ef5350; text-align: center">- معلومات عن الجامعة -</h2>
      
            <ion-list-header>               
                <p><ion-icon name="eye"></ion-icon> الروئية </p>
            </ion-list-header>
      
            <ion-item>
                <p>{{vision}}</p>
            </ion-item>
      
            <ion-list-header>                
                <p><ion-icon name="happy"></ion-icon> الاهداف </p>
            </ion-list-header>
      
            <ion-item>
                <p>{{objectives}}</p>
            </ion-item>

            <ion-list-header>              
                 <p><ion-icon name="bookmarks"></ion-icon> المهمة </p>
            </ion-list-header>
          
            <ion-item>
                <p>{{mission}}</p>
            </ion-item>
            
            <ion-list-header>
                <p><ion-icon name="school"></ion-icon> الاقسام </p>
            </ion-list-header>
             
            <ion-item>
               <p>{{departments}}</p>
           </ion-item>               

        </ion-list>
      </ion-content>