.signin {
    text-align: center;
    padding-top: 120px;
    display: none;
}

.header {
    text-align: center
}

.logos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

ion-input {
    font-family: 'Cairo', sans-serif;
}