<ion-header>
  <ion-toolbar>
      <ion-title>
          <div class="shop">
              <div class="name">
                  عن التطبيق
              </div>
              <div class="shopicon">
                  <ion-icon style="font-size: 24px" name="arrow-round-back" (click)="back()"></ion-icon>
              </div>
          </div>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <div class="logos">
          <img src="assets/imgs/uni-logo.png" width="150">
      </div>

      <h2 style="color: #ef5350; text-align: center">- جامعتي -</h2>

      <p style="font-size:18px" class="about">
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          تطبيق جامعتي هو تطبيق مخصص للجامعات ومن ضمناها جامعة تكنلوجيا المعلومات والاتصالات يحتوي على العديد من الخصائص مثل الاخبار والفيديوهات بالاضافة الى بعض المعلومات الخاصة بالجامعة
          <i class="fa fa-quote-left" aria-hidden="true"></i>
      </p>

      <ion-list-header>
          <p><ion-icon name="school"></ion-icon> برعاية </p>
      </ion-list-header>

      <ion-item>
          <p>جامعه تكنلوجيا المعلومات والاتصالات</p>
      </ion-item>

      <ion-item>
          <p>كلية معلوماتية الاعمال</p>
      </ion-item>

      <ion-list-header>          
          <p><ion-icon name="code"></ion-icon> اصحاب المشروع </p>
      </ion-list-header>

      <ion-item>
          <p>رامي سعد غني</p>
      </ion-item>

      <ion-item>
          <p>حسن سرمد حسن</p>
      </ion-item>

  </ion-list>

</ion-content>