<ion-app>
  <ion-split-pane>
    <ion-menu side="end">
      <ion-header class="menuheader" >
       <div class="logo">
         <img src="{{logo}}" width="100">
         <p style="font-weight: bold;">{{university}}</p>
       </div>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item class="menuitem" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label class="menulable">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
