<ion-header>
  <ion-toolbar>
      <ion-title>
          <div class="tit-container">
              <div class="titlee">
                  التفاصيل
              </div>
              <div class="backicon">
                  <ion-icon name="arrow-round-back" (click)="back()"></ion-icon>
              </div>
          </div>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="imagecontainer" [ngStyle]="{'background-image': 'url(' + data.image + ')'}"></div>
    <p style="text-align: left; color: #ef5350">{{data.date}}</p>
    <h3>{{data.title}}</h3>
    <div innerHTML="{{data.description}}"></div>
</ion-content>
