.shop {
    display: flex;
}

.name {
font-family: 'Cairo', sans-serif;

    width: 100%;
}

.username {
    padding-right: 16px;
    font-size: 20px !important;
    font-family: 'Cairo', sans-serif;
}

.madic {
    display: flex;
    text-align: right;
    margin-bottom: 20px;
}

.madic h3 {
    width: 100%;
    padding: 0;
    font-size: 18px;
    color: #223242;
    margin: 0;
}

.madic span {
    text-align: left;
    font-weight: bold;
    color: #039be5;
    width: 100%;
    font-size: 18px;
}

.shopicon {
    color: #FEA753;
    display: flex;
    align-items: center;
}
.imagedev {
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}



ion-card-title p {
    width: 100%;
    font-size: 15px;
    text-align: right;
    color:#657783; 
}

ion-card  {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
   margin: 0;
   border-radius: 0px;
   box-shadow: 0px 0px 0px 0px;
   }


