<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="tit-container">
        <div class="titlee">
          الملف الشخصي
        </div>
        <div class="backicon">
          <ion-icon name="arrow-round-back" (click)="back()"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div class="logos">
      <img src="{{picture}}" style="width:180px; height:180px; border-radius:50%">
    </div>

    <h2 style="color: #ef5350; text-align: center">- المعلومات الشخصية -</h2>

    <ion-list-header>
      <p>
        <ion-icon name="eye"></ion-icon> الاسم
      </p>
    </ion-list-header>

    <ion-item>
      <p>{{fullName}}</p>
    </ion-item>

    <ion-list-header>
      <p>
        <ion-icon name="happy"></ion-icon> القسم
      </p>
    </ion-list-header>

    <ion-item>
      <p>{{departments}}</p>
    </ion-item>

    <ion-list-header>
      <p>
        <ion-icon name="bookmarks"></ion-icon> المرحلة
      </p>
    </ion-list-header>

    <ion-item>
      <p>{{stage}}</p>
    </ion-item>

    <ion-list-header>
      <p>
        <ion-icon name="bookmarks"></ion-icon> البريد الالكتروني
      </p>
    </ion-list-header>

    <ion-item>
      <p>{{email}}</p>
    </ion-item>

    <ion-list-header>
      <p>
        <ion-icon name="bookmarks"></ion-icon> الجنس
      </p>
    </ion-list-header>

    <ion-item>
      <p>{{gender}}</p>
    </ion-item>

    <ion-list-header>
      <p>
        <ion-icon name="bookmarks"></ion-icon> تاريخ الميلاد
      </p>
    </ion-list-header>

    <ion-item>
      <p>{{birthdate | date: 'mediumDate'}}</p>
    </ion-item>

    <ion-list-header>
      <p>
        <ion-icon name="bookmarks"></ion-icon> العنوان
      </p>
    </ion-list-header>

    <ion-item>
      <p>{{address}}</p>
    </ion-item>

    <ion-list-header>
      <p>
        <ion-icon name="bookmarks"></ion-icon> رقم الهاتف
      </p>
    </ion-list-header>

    <ion-item>
      <p>{{mobile}}</p>
    </ion-item>


  </ion-list>
</ion-content>