<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      جامعتي
    </ion-title>
    <ion-buttons (click)="events()" slot="end" style="padding :8px">
      <ion-icon style="font-size: 24px !important; color: #ef5350" name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center">
    <div class="logos">
      <img src="{{logo}}" width="60">
    </div>
    <h1>مرحبا بكم في تطبيق جامعتي</h1>
    <p>تطبيق خاص للجامعات يحتوي على الكثير من الخصائص</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="news()">
          <ion-img src="/assets/imgs/devices.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>#الاخبار</ion-card-subtitle>
            <ion-card-title>قائمة الاخبار</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="videos()">
          <ion-img src="/assets/imgs/videos.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>#الفيديوهات</ion-card-subtitle>
            <ion-card-title>قائمة الفيديوهات</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="weekly()">
          <ion-img src="/assets/imgs/calendar.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>#الجدول</ion-card-subtitle>
            <ion-card-title>الجدول الاسبوعي</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="about()">
          <ion-img src="/assets/imgs/mortarboard.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>#معلومات</ion-card-subtitle>
            <ion-card-title>قائمة المعلومات</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="contact()">
          <ion-img src="/assets/imgs/map.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>#اتصال</ion-card-subtitle>
            <ion-card-title>قائمة الاتصال</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>